li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}


.search-input {
  width: 256px;
  height: 40px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  padding-left: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

}


.button {

  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #4E75FF;
  border: 1px solid #4E75FF;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

}

.button-load {
  display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #4E75FF;
    border: 1px solid #4E75FF;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}


.button-load:hover {
  border-radius: 8px;
  background: #6C8CFF;
}

.button:hover {
  border-radius: 8px;
  background: #6C8CFF;
}


.search-input:hover {
  border-radius: 4px;
  border: 1px solid #000;
}


.search-input:focus {
  border-radius: 4px;
  border: 1px solid #4E75FF;

}


input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}


.image-card {
  position: relative;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  height: 248px;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  
}

.image-container {
  text-align: center;
  display: flex;
  align-items: flex-start;
  height: 100%;

}

.image-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.image-details {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin: 5px;
  width: 360px;
  height: 48px;
  opacity: 1;
  display: flex;

}


.ul-container {
  margin: 36px 156px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.div-button {
    display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
}

.image-details p {
  text-align: center;
  line-height: 1.2;
  margin-left: 15px;

}


.loader {
  position: relative;
  width: 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#DDD 50px, transparent 0),
    linear-gradient(#DDD 50px, transparent 0),
    linear-gradient(#DDD 50px, transparent 0),
    linear-gradient(#DDD 50px, transparent 0),
    linear-gradient(#DDD 50px, transparent 0);
  background-size: 8px 100%;
  background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  animation: pillerPushUp 4s linear infinite;
  display: flex;
  margin: auto;

}

.loader:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #4E75FF;
  border-radius: 50%;
  animation: ballStepUp 4s linear infinite;
}

@keyframes pillerPushUp {

  0%,
  40%,
  100% {
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px
  }

  50%,
  90% {
    background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px
  }
}

@keyframes ballStepUp {
  0% {
    transform: translate(0, 0)
  }

  5% {
    transform: translate(8px, -14px)
  }

  10% {
    transform: translate(15px, -10px)
  }

  17% {
    transform: translate(23px, -24px)
  }

  20% {
    transform: translate(30px, -20px)
  }

  27% {
    transform: translate(38px, -34px)
  }

  30% {
    transform: translate(45px, -30px)
  }

  37% {
    transform: translate(53px, -44px)
  }

  40% {
    transform: translate(60px, -40px)
  }

  50% {
    transform: translate(60px, 0)
  }

  57% {
    transform: translate(53px, -14px)
  }

  60% {
    transform: translate(45px, -10px)
  }

  67% {
    transform: translate(37px, -24px)
  }

  70% {
    transform: translate(30px, -20px)
  }

  77% {
    transform: translate(22px, -34px)
  }

  80% {
    transform: translate(15px, -30px)
  }

  87% {
    transform: translate(7px, -44px)
  }

  90% {
    transform: translate(0, -40px)
  }

  100% {
    transform: translate(0, 0);
  }
}

/* .hidden {
  display: none;
} */
